body {
    background: url(https://t3.ftcdn.net/jpg/00/99/89/02/360_F_99890228_xRXJFnENLpAHdl82Y5LrRg11RwWMb5KO.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.weather-box{
    border: 3px solid white;
    padding: 50px;
    border-radius: 30px;
    background-color: azure;
}

.weather-buttons{
    display: flex;
    justify-content: space-between;
    border: 3px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: azure;
    margin-top: 30px;
    gap: 20px;
}
